:root {
  font-size: 16px;
  font-family: "Rubik", sans-serif;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f9f8eb;
  padding: 0 2rem;
}
#header {
  width: 50vw;
  height: 100px;
  padding: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h2 {
  color: rgb(117, 115, 112);
}
input {
  font-size: 20px;
  background-color: beige;
  border-radius: 5px;
  padding: 10px;
}

select {
  font-size: 20px;
  background-color: beige;
  border-radius: 5px;
  padding: 7px;
}
.restartButton {
  font-size: 20px;
  padding: 7px;

  border-radius: 8px 40px 40px 8px;
}

table {
  font-size: 1.25rem;
  border: none;
  border-collapse: collapse;
  border-spacing: 0;
  text-align: center;
  width: 100%;
}

table th {
  font-size: 1.25rem;
}

table tr th:first-child {
  border-top-left-radius: 10px;
}
table tr th:last-child {
  border-top-right-radius: 10px;
}
#title-row {
  background-color: #a0bcc2;
}

th,
td {
  padding: 0.5rem 0rem;
}

tr:nth-child(even) {
  background-color: #fefbe7;
}
tr:nth-child(odd) {
  background-color: #dae5d0;
}

.rotate-msg {
  display: none;
  text-align: center;
  background-color: #dae5d0;
  color: #000;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
